* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
@font-face {
    font-family: 'Thewitcher';
    src: url('./src/fonts/Thewitcher.ttf') format ('truetype');
    font-weight: normal;
    font-style: normal;
}


:root{
    --fonte-padrao: 'Thewitcher';
    --fonte-texto: "Merriweather", serif;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
}

.merriweather {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
