* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root{
    --fonte-padrao: "Poppins", sans-serif;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
}

body{
  
}