.fundo-video {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.247);
    z-index: -1;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
   
}

/* .video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(20%);
} */

.fundo-video .video {
    height: 100vh;
    filter: brightness(90%);
}

.fundo-video::after {
    content: "";
    /*Criação de um objeto vazio*/
    background-color: #d5011d;

    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 1) 100%);

}

header, main {
    position: relative;
    z-index: 1;
    color: white;
    font-family: var(--fonte-padrao);
}



.menu {
    font-weight: 700;
    font-style: normal;

}

.cabecalho {
    padding: 30px;
    max-width: 1440px;
    margin: 0 auto;
    text-transform: uppercase;
    /* background-color: black; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.cabecalho .menu {
    height: 100%;
    display: flex;
    align-items: center;


}

.cabecalho nav li a {
    font-weight: bold;
    color: #FDFDFD;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.2s
}

.cabecalho nav li a:hover {
    background-color: #464449;
    cursor: pointer;
}

.cabecalho .logo>img {
    width: 75px;
    cursor: pointer;
}

.container {
    display: flex;
    flex-flow: row nowrap;
    /* background-color: gold; */
    max-width: 1440px;
    margin: 0 auto;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    height: calc(100vh - 132px);
    padding: 0 30px 30px;
    font-family: var( --fonte-texto);
    line-height: 30px;
}

.container .informacoes {
    /* background-color: blueviolet; */
    padding: 10px;

}

.container .informacoes .texto {
    margin: 30px 0;
    width: 85%;
    font-size: 1.1em;
    text-align: left;
    color: #a8adb7;
}

.container .informacoes>.imagem-titulo {
    max-width: 300px;
    /* background-color: red; */
}

.container .imagem-marios > img {
    max-width: 600px;
    z-index: 0;
}

.container .botao-trailer {
    /* background-color: red; */
    font-family: var(--fonte-padrao);
    background-color: #464449;
    color: white;
    padding: 15px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    transition: .5s all ease-in-out;
}

.container .botao-trailer:hover {
    transform: scale(1.1)
}

.modal {
    background-color: rgba(52, 52, 50, 0.749);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    visibility: hidden;

}

.conteudo-modal {
    flex-flow: column nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-radius: 5px;
    gap: 15px;
}

.fechar-modal{
    background-color: #464449;
    font-family: var(--fonte-padrao);
    color:#C2FDFD;
    font-weight: bold;
    font-size: 20px;
    width: 40px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}

.modal iframe{
    border-width: 0;
    width: 640px;
    height: 360px;
}

.modal.aberto{
    opacity: 1;
    visibility: visible;
}